.transaction_list_card {
  border-radius: $border-radius;
  padding: 1rem;
  box-shadow: $box-shadow;

  @include desktop {
    padding: 1.5rem 3rem;;
  }

  &__info {
    text-align: center;
    display: grid;
    grid-template-areas:
      "title title"
      "net incoming"
      "net outgoing"
      "filters filters";
    grid-row-gap: 0.5rem;
    grid-column-gap: 1rem;

    @include desktop {
      grid-template-areas:
      "title net incoming outgoing filters";
      align-items: center;
      justify-items: center;
    }
  }

  &__title {
    font-size: 1.2rem;
    font-weight: normal;
    grid-area: title;

    @include desktop {
      font-weight: bold;
      font-size: 1.5rem;
      justify-self: flex-start;
    }
  }

  &__trash_btn {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    border: 1px solid $primary;

    @include desktop {
      position: unset;
      border-radius: 0;
      height: unset;
      width: unset;
      border: none;
    }
    
    &:hover {
      opacity: 0.5;
    }

    &_icon {
      color: $primary;
      font-size: 1.5rem;
      
      @include desktop {
        font-size: 1.2rem;
      }
    }
  }

  &__net {
    font-size: 2rem;
    grid-area: net;
    align-self: center;
    justify-self: flex-end;

    @include desktop {
      font-size: 1.2rem;
      justify-self: unset;

      &:before {
        content: "Net: "
      }
    }
  }

  &__incoming,
  &__outgoing {
    font-size: 1rem;
    font-weight: normal;
    justify-self: flex-start;

    @include desktop {
      font-size: 1.2rem;
      justify-self: unset;
    }
  }

  &__incoming {
    grid-area: incoming;
    color: green;
    font-weight: bold;

    &:before {
      content: "+ "
    }

    @include desktop {
      &:before {
        content: "In: "
      }
    }
  }

  &__outgoing {
    grid-area: outgoing;
    color: red;
    font-weight: bold;

    &:before {
      content: "- "
    }

    @include desktop {
      &:before {
        content: "Out: "
      }
    }
  }

  &__filters {
    grid-area: filters;
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;

    @include desktop {
      margin-top: 0rem;
      justify-self: flex-end;
    }
  }

  &__filter {
    color: $primary;
    font-size: 1.5rem;
    margin-right: 1rem;
    color: grey;
    opacity: 0.5;
    cursor: pointer;

    &:last-of-type {
      margin-right: 0;
    }

    &--active {
      color: $primary;
      opacity: 1;
      cursor: default;
    }
  }

  &__new_transaction_btn {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: $primary;
    outline: none;
    border: 1px solid $primary;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;

    @include desktop {
      position: unset;
      margin-top: 1rem;
      border-radius: 3px;
      width: 100%;
      background-color: white;
      border: 1px dashed $primary;
    }
    
    &:hover {
      opacity: 0.5;
    }
  
    &_icon {
      color: white;
      font-size: 1.5rem;

      @include desktop {
        font-size: 1.25rem;
        color: $primary;
      }
    }
  }
}

.transaction_list {
  margin-top: 1.5rem;

  & >:not(:last-child) {
    margin-bottom: 0.75rem;
  }

}