.header {
  background-color: $primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  max-width: $max-width;
  margin: auto;

  @include desktop {
    height: 5rem;
  }

  &__menu_icon {
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.5rem;
    margin: 0 0.75rem;

    @include desktop {
      display: none;
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 0.75rem;
  color: rgba(255, 255, 255, 0.9);

  @include desktop {
    margin-left: 1rem;
  }

  &__icon {
    font-size: 1.2rem;
    margin-right: 0.5rem;

    @include desktop {
      font-size: 1.75rem;
      margin-right: 1rem;
    }
  }

  &__title {
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    margin: 0;
    font-size: 1.2rem;

    @include desktop {
      font-size: 1.75rem;
    }
  }
} 

.nav {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $secondary;
  transform: translateX(100%);
  transition: transform 0.2s;

  @include desktop {
    position: unset;
    transform: translateX(0%);
    background-color: $primary;
    transition: none;
  }

  &--mobile_open {
    transform: translateX(0%);
  }

  &__close_icon {
    color: white;
    font-size: 1.5rem;
    position: absolute;
    right: 1rem;
    top: 1rem;

    @include desktop {
      display: none;
    }
  }

  &__routes {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;

    @include desktop {
      flex-direction: row;
      margin-top: 0;
    }
  }

  &__route {
    color: white;
    font-size: 1.5rem;
    padding: 1rem 0;
    cursor: pointer;

    @include desktop {
      color: white;
      font-size: 1.25rem;
      padding: 0;
      margin: 0 1.5rem;

      &:hover, &:focus {
        color: $secondary;
      }
    }

    &--active {
      background-color: $primary;

      &:hover {
        cursor: default;
      }

      @include desktop {
        color: $secondary;
      }
    }
  }
}