a {
  text-decoration: none;
}

main {
  display: flex;
  justify-content: center;
  height: 100%;
  max-width: $max-width;
  margin: 0 auto;
  flex-direction: column;
  padding: 1rem;

  @include desktop {
    padding: 1rem 0;
  }
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}